#fight-content {
    position: relative;
}

#pokemon-arena {
    margin-top: 0px;
}

#log-screen {
    position: absolute;
    z-index: 2;
    height: 15vw;
    width: 50vw;
    left: 25vw;
    top: 10vw;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 15px;
    overflow: scroll;
}

#start-fight {
    position: absolute;
    z-index: 2;
    width: 6vw;
    left: 47vw;
    top: 45vw;
}

#finish-fight {
    position: absolute;
    z-index: 2;
    width: 6vw;
    left: 47vw;
    top: 49vw;
}

.start-div.running {
    background-color: #2a75bb;
}

.pokemon-image {
    position: absolute;
    z-index: 2;
    width: 140px;
}

.pokemon-image.looser {
    filter: grayscale(100%);
}

#pokemon1 {
    left: 30vw;
    top: 30vw;
}

#pokemon2 {
    left: 63vw;
    top: 27vw;
}

.pokemon-info {
    width: 15vw;
    height: 9vw;
    position: absolute;
    background: white;
    color: black;
    border-radius: 25px;
    padding-right: 10px;
}

#pokemon1-info {
    left: 12vw;
    top: 31vw;
}

#pokemon2-info {
    left: 75vw;
    top: 27vw;
}

.log-text {
    font-family: 'Pokemon_GB';
    font-size: 0.7vw;
}

.yellow {
    color: #F1D000;
}

.red {
    color: #CD1313;
}

.green {
    color: #26DA0A;
}

.blue {
    color: #2a75bb;
}